#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
-Popular languages for Data Science
-Popular tools for Data Science 
-Libraries for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

|Data Science Tools|
-------------------
|Jupyter Notebook |
|Rstudio          |
|Spyder           |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

a = 200
print(f"{a} minutes are {a/60} hours")

200 minutes are 3.3333333333333335 hours

##Author

Mandar